*.gmo
*.la
*.lo
*.swp
*.tar.*
.deps
.libs
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config*
debian/control.save
debian/files
debian/xfce4-windowck-plugin*
depcomp
install-sh
intltool*
libtool
ltmain.sh
missing
mkinstalldirs
panel-plugin/*/*.desktop
panel-plugin/*/*-dialogs_ui.h
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
stamp-*
po/*.mo
themes/**/*.png
themes/**/*.xpm
arch/PKGBUILD
